<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
    <div>
        <h2 style="text-align: center">
            Autocomplete component
        </h2>
        <div class="row mt-4">
            <div class="card bg-light">
                <p class="card-header">
                   Component
                </p>
                <div class="card-body">
                        <h4 class="card-title">Autocomplete</h4>
                    <div class="card-text">Enter a letter to start searching (e.g. 'B')...</div>
                    <app-autocomplete [items]="availableTags" (itemClick)="onAutoComplete($event)"></app-autocomplete>
                </div>
            </div>

        </div>
    </div>
</div>